/* Stylesheet für die Übungswebsite */

/* Grundlegende Gestaltung der Navigation */
.site-nav, 
.site-footer {
    background-color: black;
    color: white; 
    padding: 0.5rem; 
    margin: 1rem 0; 
}
.site-nav ul {
    padding: 0; 
    margin: 0; 
}
.site-nav li {
    display: inline; 
    margin-right: 0.5rem; 
}
.site-nav a,
.site-footer a {
    color: white; 
    text-decoration: none;
}

/* Link "Nach oben" rechts ausrichten */
.site-footer {
    text-align: right;
}

/* Seiteninterne Links sollen sanft gleiten  */
html {
    scroll-behavior: smooth;
}

/* Abstand zwischen Logo und Slogan */
.site-header h1 {
    margin-bottom: 0; 
}
.site-header p {
    margin-top: 0; 
}

/* Startseite - Abschnitt mit Infoboxen */
.infoboxen {
    background-color: whitesmoke;
    padding: 1rem; 
    margin-bottom: 1rem; 
}
.infobox {
    text-align: center;
    background-color: white;
    padding: 1rem; 
    margin: 1rem; 
}

/* Einrückung entfernen */
figure, blockquote {
    margin: 0; 
}

/* Startseite - Zitate von Kunden */
.kundenstimme {
    background-color: whitesmoke;
    padding: 1rem; 
    border-left: 5px solid steelblue; 
    margin-bottom: 1rem; 
}

/* Liste der Mitglieder */
.mitglieder {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
.mitglied {
    background-color: whitesmoke;
    padding: 0.5rem; 
    margin-bottom: 1rem; 
  }